@page "/orderconfirm"
@inject IOrderService OrderService

<PageTitle>Order confirmation</PageTitle>
<h1>Thank you for your order!</h1>
<p class="mt-4">The order is being processed and will ship shortly.</p>


@code {

}
